@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Domine", sans-serif;
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
/* Navbar Starts*/
.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.logo h1 {
  font-size: 2.1rem;
}
.logo h4 {
  font-weight: 100;
  font-size: 0.7rem;
  /* color: #fee39a; */
}
.colorLogo {
  width: 10%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 4rem;
  position: relative;
}
.navbar-links {
  display: flex;
  list-style: none;
}
.navbar-link {
  padding: 1rem;
  color: black;
  transition: all 0.5s;
  font-size: 1.4rem;
}
.hamburger {
  display: none;
}
/* Navbar Ends */

/* Landing Page Starts */
#landing-page {
  text-align: center;
  padding-top: 1rem;
  margin: 0 4rem;
  font-size: 1.4rem;
}
#landing-page h2 {
  margin-bottom: 1rem;
}
#landing-page h4 {
  margin-bottom: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.grid-container img {
  width: 100%;
}
@media (max-width: 877px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .bars {
    transition: all 0.5s;
    background: black;
    margin: 5px;
    height: 3px;
    width: 35px;
  }
  .hamburger.active .bars:first-child {
    transform: rotate(-45deg) translate(-9px, 4px);
  }
  .hamburger.active .bars:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bars:last-child {
    transform: rotate(45deg) translate(-7px, -2px);
  }
  .navbar-links {
    display: none;
  }
  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0%;
    background: white;
    box-shadow: 1px 3px 3px;
    width: 100%;
    padding-bottom: 1rem;
  }
  .navbar-links li {
    padding: 1rem;
  }
  .navbar-link {
    border-bottom: 1px solid black;
  }
}
/* Landing Page Ends */

/* About Page Starts*/
.heading {
  margin: 0 4rem;
  padding-top: 2rem;
}
.heading h2 {
  font-size: 3.2rem;
}
.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 2rem 0 2rem;
  background: white;
}
.about-text h2, .social-icons{
  margin-left: 1rem;
}
.about-portfolio img {
  height: 50vh;
  border-radius: 50%;
  margin-top: 1rem;
}
.about-portfolio {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  /* justify-content: center; */
  /* align-items: center; */
}
.about-portfolio h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.about-portfolio h4 {
  margin-bottom: 1rem;
}
.about-text {
  line-height: 1.9;
}
.about-text p {
  padding: 1rem;
  font-style: italic;
}
.social-icons i {
  font-size: 1.2rem;
  transition: all 0.5s;
  cursor: pointer;
}
/* About Page Ends */

/* Service Page Starts */
.flex-container {
  /* text-align: center; */
  line-height: 1.7;
  margin: 0 4rem;
}
.heading h2 {
  margin-bottom: 1rem;
}
.language {
  margin-top: 1rem;
}
.language ul, .yoga ul {
  margin-left: 2rem;
}
/* Service Page Ends */

/* Contact Page Start */
.contact-container {
  margin: 4rem 4rem 0 4rem;
}
.contact-text {
  padding: 1rem;
}
.contact-text h2 {
  font-size: 5rem;
}
.contact-text p {
  margin-bottom: 1rem;
}
.contact-info h3 {
  margin-bottom: 1rem;
}
.contact-info p {
  font-size: 1.5rem;
}
/* Contact Page Ends */

/* Footer Starts */
#copyright {
  text-align: center;
  margin-top: 2.4rem;
  font-size: 0.7rem;
}
@media(max-width: 364px) {
  #copyright {
    padding: 0rem 1rem;
  }
  .colorLogo {
    width: 25%;
  }
  .about-container {
    margin: 1rem 1rem 0 1rem;
  }
  .about-portfolio  {
    margin-left: 1rem;
  }
  .contact-container {
    margin: 1rem 1rem 0 1rem;
  }
  .flex-container {
    margin: 1rem 1rem 0 1rem;
  }
  .heading {
    text-align: center;
  }
}
/* Footer Ends */
